# ---------- Gradle / builds ----------
.gradle/
**/build/
captures/
.externalNativeBuild/
.cxx/
*.log
*.hprof

# ---------- Android Studio (IDE) ----------
# Ignora TODO lo de .idea (evita que se suban configs locales del IDE)
/.idea/
*.iml

# ---------- Config local de cada PC ----------
# (este archivo siempre debe ignorarse)
local.properties

# ---------- Artefactos de salida ----------
# (por si generas APK/AAB fuera de /build)
*.apk
*.ap_
*.aab

# ---------- SO / editores ----------
.DS_Store
Thumbs.db
.vscode/

